<div class="counter-wrapper">
  <div class="counter-header">
    <div class="header-title">
      Counter App <span class="counter-count">{{ counterCount$ | async }}</span>
    </div>
    <div class="header-actions">
      <button class="btn-reset" (click)="resetCounters()">Reset</button>
      <button class="btn-add" (click)="addCounter()">Add</button>
    </div>
  </div>

  <div class="counter-list">
    <div class="counter-item" *ngFor="let counter of counters$ | async; let i = index">
      <div class="counter-value">{{ counter }}</div>
      <div class="counter-actions">
        <button class="btn-increment" (click)="incrementCounter(i)">Increment</button>
        <button class="btn-decrement" (click)="decrementCounter(i)">Decrement</button>
        <button class="btn-delete" (click)="deleteCounter(i)">Delete</button>
      </div>
    </div>
  </div>
</div>